.grid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.one
{
    /* border: 1px solid red; */
}
.two
{
    border: 1px solid green;
}
button
{
    margin: 10px;
    background-color: orange;
    color: white;
}